body {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100vh;
    background: linear-gradient(45deg, #1e6601, rgb(3, 255, 37));
}

.backButton{
    
    padding-top: 15px;
}

a {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
    font-size: 50%;
    border-radius: 5px;
}

a:hover{
    text-decoration: none;
    color: white;
    background: linear-gradient(45deg, rgb(3, 255, 37),#1e6601);
}

.container{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}


span{
    color: rgb(34, 248, 15);
}